#navBar,.card-header,.card-footer, .História, .h5, .H3 {
    background-color: #5f9ea0 !important;
}

#Integrantes{
    background-color: #5f9ea0;
    color: #faebd7;
    font-weight: bold;
    font-size: larger;
}
#p b{
    background-color: #0d6063;
    
}
